modules = ["nodejs-20", "python-3.11", "php-8.2", "php-8.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Server"

[[workflows.workflow]]
name = "PHP Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd public && php -S 0.0.0.0:5000 -t . router.php"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36249
externalPort = 3003

[[ports]]
localPort = 38053
externalPort = 3002

[[ports]]
localPort = 43871
externalPort = 3001

[[ports]]
localPort = 44367
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
